body {
    margin: 1vh 1vw;
    background-color: #FDE767;
}
ul,
fieldset,
legend {
    border: 1px solid;
    background-color: #fff;
}
ul {
    padding: 0;
    font-family: monospace;
}
li,
legend {
    list-style-type: none;
    padding: 0.2em 0.5em;
    background-color: #F3B95F;
}
li:nth-of-type(even) {
    background-color: inherit;
}
form  {
    display: table;
}
p     {
    display: table-row;
}
label {
    display: table-cell;
}
input, select {
    display: table-cell;
    margin: 1em 2em 0 1em;
}
